.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  margin-top: 5px;
  padding: 0;
  height: calc(100dvh - 155px);
  /* background-color: orange; */
  overflow: auto;
}

@media (max-width: 768px) {
  .main {
    height: calc(100dvh - 10px);
  }
}

.searchArea {
  display: flex;
  width: 100%;
  height: 90px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.searchBox {
  width: 300px;
  height: 100%;
  position: relative;
}

.searchBox input {
  width: calc(100% - 10px);
  height: 50px;
  border-radius: 8px;
  border: 1px solid var(--dark);
  padding-left: 10px;
  font-size: 16px;
  outline: none;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.123);
}

.searchBox button {
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 1;
  background-color: transparent;
  height: 100%;
  border: none;
}

.searchBox button img {
  width: 25px;
  filter: invert(1);
}

.btn {
  height: 100%;
  width: 100px;
  font-size: 16px;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.123);
}

.btn.active {
  background-color: var(--red);
  color: var(--light);
}

.dishList {
  width: 100%;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  gap: 0;
  height: cal;
}