.SearchBox {
  max-width: 600px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.SearchBox input {

  width: 94.5%;
  min-height: 30px;
  border-radius: 8px;
  border: 1px solid var(--dark);
  padding: 5px 10px;
  outline: none;
}

.SearchBox button {
  position: absolute;
  right: 25px;
  top: 0;
  height: 100%;
  background: transparent;
  border: none;

}

.SearchBox button img {
  filter: invert(100%);
}

@media (max-width: 480px) {
  .SearchBox button {
    right: 15px;
  }

}

@media (max-width: 400px) {
  .SearchBox input {
    width: 92%;
  }

}

@media (max-width: 300px) {
  .SearchBox input {
    width: 90%;
  }

}