:root {
  --dark: #3A3A3A;
  --light: #FFFBF3;
  --red: #ff5243;
  --gray1: #EFEFEF;
  --gray2: #D9D9D9;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: inter;
}

body {
  display: flex;
  justify-content: center;
  align-content: start;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

#root {
  background-color: var(--light);
  max-width: 1200px;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}