.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 155px;
}

.header h1 {
  font: bolder;
  font-size: 3rem;
}

.header h2 {
  font-size: 3.5rem;
  font-weight: bolder;
  font-family: Londrina Outline;
  /* Chrome, Safari, Edge */
}

.header p {
  opacity: 0.6;
  font: 700;
  letter-spacing: 5px;
}

@media (max-width: 1200px) {
  .header h1 {
    font-size: 2.5rem;
  }

  .header h2 {
    font-size: 3rem;
  }

  .header p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 2rem;
  }

  .header h2 {
    font-size: 2.5rem;
  }

  .header p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .header {
    height: 100px;
  }

  .header h1 {
    font-size: 1.5rem;
  }

  .header h2 {
    font-size: 2rem;
  }

  .header p {
    font-size: 0.8rem;
  }
}