.aside {
  width: calc(100% - 20px);
  height: calc(100dvh - 100px);
  background-color: var(--gray1);
  position: absolute;
  z-index: 10;
  left: 0;
  top: 60px;
  transition: 0.22s ease-in-out;
  padding-left: 10px;
  padding-right: 10px;
}

.aside h1 {
  font-size: 24px;
}

.categories {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
  align-items: center;
}


.filterBtns {
  border: none;
  background-color: var(--gray2);
}

.filterBtns.active {
  border: none;
  background-color: var(--red);
  padding: 8px;
  color: var(--light);
  border-radius: 4px;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.123);
}